.project{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    gap: 70px;
}
.project-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.project-section h1{
    width: 70%;
    font-size: 45px;
    font-weight: bolder;
    color: rgb(255, 53, 86);
    

}

.project-skills{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.project-skills button{
        color: white;
        cursor: pointer;
        background-color: black;
        padding: 10px 10px;
        border-radius: 5px;
        border: 2px solid white;
}
.project-skills button:focus{
    background-color: rgb(255, 53, 86) ;
}
.project-skills button:active{
    background-color: rgb(255, 53, 86) ;
}